<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugsnagAPIKey</key>
	<string>2d7f0a071ce2206dcfd42720875d64b2</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RiteHauler</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1826018144131090</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>FacebookAppID</key>
	<string>1826018144131090</string>
	<key>FacebookDisplayName</key>
	<string>RiteHauler</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSCameraUsageDescription</key>
	<string>We want access of your camera to let you capture images of item you want delivered.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Rite Hauler needs your location to provide better services at your doorstep.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Rite Hauler needs your location to provide better services at your doorstep.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to your microphone (for videos)</string>
	<key>NSMotionUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We want access to your gallery to let you select photos of item you want delivered</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Black.otf</string>
		<string>SFProDisplay-BlackItalic.otf</string>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-BoldItalic.otf</string>
		<string>SFProDisplay-Heavy.otf</string>
		<string>SFProDisplay-HeavyItalic.otf</string>
		<string>SFProDisplay-Italic.otf</string>
		<string>SFProDisplay-Light.otf</string>
		<string>SFProDisplay-LightItalic.otf</string>
		<string>SFProDisplay-Medium.otf</string>
		<string>SFProDisplay-MediumItalic.otf</string>
		<string>SFProDisplay-Regular.otf</string>
		<string>SFProDisplay-Semibold.otf</string>
		<string>SFProDisplay-SemiboldItalic.otf</string>
		<string>SFProDisplay-Thin.otf</string>
		<string>SFProDisplay-ThinItalic.otf</string>
		<string>SFProDisplay-Ultralight.otf</string>
		<string>SFProDisplay-UltralightItalic.otf</string>
		<string>SFProText-Bold.otf</string>
		<string>SFProText-BoldItalic.otf</string>
		<string>SFProText-Heavy.otf</string>
		<string>SFProText-HeavyItalic.otf</string>
		<string>SFProText-Italic.otf</string>
		<string>SFProText-Light.otf</string>
		<string>SFProText-LightItalic.otf</string>
		<string>SFProText-Medium.otf</string>
		<string>SFProText-MediumItalic.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SFProText-SemiboldItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
